In [9]:
import numpy as np
import pandas as pd

df = pd.read_csv('datasets_74977_169835_StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [10]:
def covariance(x, y):
    total = 0
    for i in range(len(x)):
        total += (x[i] - mean(x)) * (y[i] - mean(y))
    
    return total / (len(x) - 1)

In [11]:
def variance(series):
    total = 0
    for i in range(len(series)):
        total += (series[i] - mean(series)) ** 2
    variance = total / len(series)
    
    return variance

In [46]:
def mean(series):
    total = 0
        
    for i in range(len(series)):
        total += series[i]
    
    return total / len(series)

In [22]:
def cov_matrix_calculation(data):
    # calculate covariance matrix of the data
    cov_matx = np.cov(data.T)
    return cov_matx

[[0.         0.         0.        ]
 [0.         1.66666667 1.16666667]
 [0.         1.16666667 0.91666667]]

In [44]:
def my_covariance_matrix(data):
    x = [data[0][0], data[1][0], data[2][0], data[3][0]]
    y = [data[0][1], data[1][1], data[2][1], data[3][1]]
    z = [data[0][2], data[1][2], data[2][2], data[3][2]]

    # return a matrix of covariances for the data
    covariances = get_covariances(x, y, z)
    return covariances

In [49]:
def get_covariances(x, y, z):
    # get covariance between columns x & y
    x_y_cov = covariance(x, y)
    # get the covariance between columns y & z
    y_z_cov = covariance(y, z)
    # get the covariance between columns x & z
    x_z_cov = covariance(x, z)
    # get variance of x
    x_x_cov = covariance(x, x)
    # get the variance of y
    y_y_cov = covariance(y, y)
    # get the variance of z
    z_z_cov = covariance(z, z)

    
    return (x_y_cov, x_z_cov, y_z_cov, x_x_cov, y_y_cov, z_z_cov)

In [42]:
print(cov_matrix_calculation(np.array([[1, 1, 1], [1, 2, 1], [1, 3, 2], [1, 4, 3]])))

[[0.         0.         0.        ]
 [0.         1.66666667 1.16666667]
 [0.         1.16666667 0.91666667]]

In [50]:
my_covariance_matrix(dataset)

(0.0, 0.0, 1.1666666666666667, 0.0, 1.6666666666666667, 0.9166666666666666)